# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Generated 
MerryGoRound/src/Makefile
MerryGoRound/out/
MerryGoRound_dbg
MerryGoRound_release
.metadata/
MerryGoRound/simulations/results
MerryGoRound/simulations/*.anf
